{% extends 'admin/dashboard.html.twig' %}

{% block body %}
{#    <a class="btn btn-success btn-icon-split" href="{{ path('app_admin_user_new') }}">#}
{#        <span class="icon text-white-50">#}
{#            <i class="fa fa-plus-circle" aria-hidden="true"></i>#}
{#        </span>#}
{#        <span class="text">{{ 'button.add'|trans([], 'admin') }}</span>#}
{#    </a>#}
    <table class="table table-hover mt-4">
        <thead class="text-gray-900">
            <tr>
                <th scope="col">{{ 'column.id'|trans([], 'admin') }}</th>
                <th scope="col">{{ 'user.name'|trans([], 'admin') }}</th>
                <th scope="col">{{ 'column.roles'|trans([], 'admin') }}</th>
                <th scope="col">{{ 'column.actions'|trans([], 'admin') }}</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td class="align-middle">{{ user.id }}</td>
                <td class="align-middle">{{ user.username }}</td>
                <td class="align-middle">{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td class="align-middle">
{#                    <form class="d-inline" method="post" action="{{ path('app_admin_user_delete', {'id': user.id}) }}" onsubmit="return confirm('{{ 'message.delete.confirm'|trans([], 'admin') }}');">#}
{#                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">#}
{#                        <button class="btn btn-danger btn-icon-split btn-sm">#}
{#                            <span class="icon text-white-50">#}
{#                                <i class="fa fa-trash" aria-hidden="true"></i>#}
{#                            </span>#}
{#                            <span class="text">{{ 'button.delete'|trans([], 'admin') }}</span>#}
{#                        </button>#}
{#                    </form>#}
                </td>
            </tr>
        {% else %}
            <tr>
                <td class="align-middle" colspan="5">{{ 'message.no_records'|trans([], 'admin') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
