{% extends 'admin/dashboard.html.twig' %}

{% block body %}
    <table class="table">
        <tbody>
            <tr>
                <th>Azonosító</th>
                <td>{{ member.id }}</td>
            </tr>
            <tr>
                <th>Becenév</th>
                <td>{{ member.nickname }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('app_admin_fansub_member_index') }}">Vissza a listához</a>
    <a href="{{ path('app_admin_fansub_member_edit', {'id': member.id}) }}">Szerkesztés</a>
    {{ include('admin/fansub_member/_delete_form.html.twig') }}
{% endblock %}
