{% extends 'admin/dashboard.html.twig' %}

{% block body %}
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ episode.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ episode.title }}</td>
            </tr>
            <tr>
                <th>TitleJapRomaji</th>
                <td>{{ episode.titleJapRomaji }}</td>
            </tr>
            <tr>
                <th>TitleJapKanji</th>
                <td>{{ episode.titleJapKanji }}</td>
            </tr>
            <tr>
                <th>EpisodeNumber</th>
                <td>{{ episode.episodeNumber }}</td>
            </tr>
            <tr>
                <th>UploadDate</th>
                <td>{{ episode.uploadDate ? episode.uploadDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DownloadUrl</th>
                <td>{{ episode.downloadUrl }}</td>
            </tr>
            <tr>
                <th>OnlineEmbedId</th>
                <td>{{ episode.onlineEmbedId }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_project_episode_index') }}">back to list</a>

    <a href="{{ path('app_admin_project_episode_edit', {'id': episode.id}) }}">edit</a>

    {{ include('admin/project_episode/_delete_form.html.twig') }}
{% endblock %}
