{% extends 'admin/dashboard.html.twig' %}

{% block body %}
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ team.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ team.name }}</td>
            </tr>
            <tr>
                <th>Token</th>
                <td>{{ team.token }}</td>
            </tr>
            <tr>
                <th>ShortName</th>
                <td>{{ team.shortName }}</td>
            </tr>
            <tr>
                <th>WebsiteUrl</th>
                <td>{{ team.websiteUrl }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('app_admin_fansub_team_index') }}">back to list</a>
    <a href="{{ path('app_admin_fansub_team_edit', {'id': team.id}) }}">edit</a>
    {{ include('admin/fansub_team/_delete_form.html.twig') }}
{% endblock %}
