{% extends 'admin/base.html.twig' %}

{% block adminBody %}
    <body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ path('app_admin_index') }}">
                <div class="sidebar-brand-text mx-3">wakabakashii</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('app_admin_index') }}">
                    <i class="fa fa-home"></i>
                    <span>{{ 'homepage'|trans([], 'admin') }}</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                {{ 'title.news.category'|trans([], 'admin') }}
            </div>

            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_admin_news_index') }}">
                    <i class="fa fa-newspaper-o"></i>
                    <span>{{ 'title.news.list'|trans([], 'admin') }}</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                {{ 'title.project.category'|trans([], 'admin') }}
            </div>

            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_admin_project_index') }}">
                    <i class="fa fa-file-video-o"></i>
                    <span>{{ 'title.project.list'|trans([], 'admin') }}</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_admin_project_status_index') }}">
                    <span>{{ 'title.project.status.list'|trans([], 'admin') }}</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_admin_project_type_index') }}">
                    <span>{{ 'title.project.type.list'|trans([], 'admin') }}</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_admin_project_video_quality_index') }}">
                    <span>{{ 'title.project.video_quality.list'|trans([], 'admin') }}</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_admin_online_host_index') }}">
                    <span>{{ 'title.online.list'|trans([], 'admin') }}</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                {{ 'title.fansub.category'|trans([], 'admin') }}
            </div>

            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_admin_fansub_team_index') }}">
                    <span>{{ 'title.fansub.team.list'|trans([], 'admin') }}</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_admin_fansub_member_index') }}">
                    <span>{{ 'title.fansub.member.list'|trans([], 'admin') }}</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                {{ 'title.administration.category'|trans([], 'admin') }}
            </div>

            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_admin_user_index') }}">
                    <span>{{ 'title.administration.users.list'|trans([], 'admin') }}</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Sidebar Toggler (Sidebar) -->
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_logout') }}">
                    <i class="fa fa-sign-out"></i>
                    <span>{{ 'user.logout'|trans([], 'admin') }}</span></a>
            </li>
        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 mt-4 text-gray-800">
                            {{ page_title }}
                        </h1>
                    </div>
                    <!-- Content Row -->
                    {% block body %}{% endblock %}
                    <!-- /.container-fluid -->
                </div>
                <!-- End of Main Content -->
            </div>
            <!-- End of Content Wrapper -->
        </div>
        <!-- End of Page Wrapper -->
    </body>
{% endblock %}