{% extends 'admin/dashboard.html.twig' %}

{% block body %}
    <table class="table table-hover">
        <thead class="text-gray-900">
            <tr>
                <th scope="col">{{ 'column.id'|trans([], 'admin') }}</th>
                <th scope="col">{{ 'column.title'|trans([], 'admin') }}</th>
                <th scope="col">{{ 'column.content'|trans([], 'admin') }}</th>
                <th scope="col">{{ 'column.created_at'|trans([], 'admin') }}</th>
                <th scope="col">{{ 'column.actions'|trans([], 'admin') }}</th>
            </tr>
        </thead>
        <tbody>
        {% for news in news %}
            <tr>
                <td class="align-middle">{{ news.id }}</td>
                <td class="align-middle">{{ news.title }}</td>
                <td class="align-middle">{{ news.content }}</td>
                <td class="align-middle">{{ news.createdAt ? news.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td class="align-middle">
                    <a class="btn btn-primary btn-icon-split btn-sm" href="{{ path('app_admin_news_edit', {'id': news.id}) }}">
                        <span class="icon text-white-50">
                            <i class="fa fa-pencil-square" aria-hidden="true"></i>
                        </span>
                        <span class="text">{{ 'button.edit'|trans([], 'admin') }}</span>
                    </a>
                    <form class="d-inline" method="post" action="{{ path('app_admin_news_delete', {'id': news.id}) }}" onsubmit="return confirm('{{ 'message.delete.confirm'|trans([], 'admin') }}');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ news.id) }}">
                        <button class="btn btn-danger btn-icon-split btn-sm">
                            <span class="icon text-white-50">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </span>
                            <span class="text">{{ 'button.delete'|trans([], 'admin') }}</span>
                        </button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td class="align-middle" colspan="5">{{ 'message.no_records'|trans([], 'admin') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success btn-icon-split" href="{{ path('app_admin_news_new') }}">
        <span class="icon text-white-50">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </span>
        <span class="text">{{ 'button.add'|trans([], 'admin') }}</span>
    </a>

{% endblock %}
