{% extends 'admin/dashboard.html.twig' %}

{% block body %}
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ news.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ news.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ news.content }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ news.createdAt ? news.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_news_index') }}">back to list</a>

    <a href="{{ path('app_admin_news_edit', {'id': news.id}) }}">edit</a>

    {{ include('admin/news/_delete_form.html.twig') }}
{% endblock %}
