{% extends 'admin/dashboard.html.twig' %}

{% block body %}
    <a class="btn btn-success btn-icon-split" href="{{ path('app_admin_project_new') }}">
        <span class="icon text-white-50">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </span>
        <span class="text">{{ 'button.add'|trans([], 'admin') }}</span>
    </a>
    <table class="table table-hover mt-4">
        <thead class="text-gray-900">
            <tr>
                <th scope="col">{{ 'column.id'|trans([], 'admin') }}</th>
                <th scope="col">{{ 'column.title'|trans([], 'admin') }}</th>
                <th scope="col">{{ 'column.title.jap'|trans([], 'admin') }}</th>
                <th scope="col">{{ 'column.year'|trans([], 'admin') }}</th>
                <th scope="col">{{ 'column.episodes'|trans([], 'admin') }}</th>
                <th scope="col">{{ 'column.created_at'|trans([], 'admin') }}</th>
                <th scope="col">{{ 'column.updated_at'|trans([], 'admin') }}</th>
                <th scope="col">{{ 'column.actions'|trans([], 'admin') }}</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td class="align-middle">{{ project.id }}</td>
                <td class="align-middle">{{ project.title }}</td>
                <td class="align-middle">{{ project.titleJap }}</td>
                <td class="align-middle">{{ project.startYear }}{% if project.endYear %} - {{ project.endYear }}{% endif %}</td>
                <td class="align-middle">{{ project.episodeNumber }}</td>
                <td class="align-middle">{{ project.createdAt ? project.createdAt|date('Y.m.d H:i:s') : '' }}</td>
                <td class="align-middle">{{ project.updatedAt ? project.updatedAt|date('Y.m.d H:i:s') : '' }}</td>
                <td class="align-middle">
                    <a class="btn btn-info btn-icon-split btn-sm" href="{{ path('app_admin_project_episode_index', {'id': project.id}) }}">
                        <span class="icon text-white-50">
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </span>
                        <span class="text">{{ 'button.view_episodes'|trans([], 'admin') }}</span>
                    </a>
                    <a class="btn btn-primary btn-icon-split btn-sm" href="{{ path('app_admin_project_edit', {'id': project.id}) }}">
                        <span class="icon text-white-50">
                            <i class="fa fa-pencil-square" aria-hidden="true"></i>
                        </span>
                        <span class="text">{{ 'button.edit'|trans([], 'admin') }}</span>
                    </a>
                    <form class="d-inline" method="post" action="{{ path('app_admin_project_delete', {'id': project.id}) }}" onsubmit="return confirm('{{ 'message.delete.confirm'|trans([], 'admin') }}');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ project.id) }}">
                        <button class="btn btn-danger btn-icon-split btn-sm">
                            <span class="icon text-white-50">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </span>
                            <span class="text">{{ 'button.delete'|trans([], 'admin') }}</span>
                        </button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td class="align-middle" colspan="8">{{ 'message.no_records'|trans([], 'admin') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
